<div class="contents row">
  <%= form_for(@tweet) do |f| %>
    <h3>
      投稿する
    </h3>
    <%= f.text_field :image, name: "image", multiple: true, placeholder: 'Image Url' %>
    <%= f.text_field :image2, name: "image2", multiple: true, placeholder: 'Image Url2' %>
    <%= f.text_field :image3, name: "image3", multiple: true, placeholder: 'Image Url3' %>
  
    <%= f.text_area :text, name: "text", placeholder: 'Text' %>
    <%= f.submit %>
  <% end %>
</div>